<app-header></app-header>
<br><br>
<div class="content">
    <div class="news" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let item of allBookmarks| paginate: { itemsPerPage: 10, currentPage: p}" [fxFlex]="25 + '%'"
            fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-card class="mat-elevation-z4 card">
                <img class="newsimage" mat-card-image [src]="item.urlToImage">
                <mat-card-content>
                    <p>
                        {{item.title}}
                    </p>
                </mat-card-content>
                <a (click)="openNews(item)" class="readMore">Read Description</a>

                <span style="margin-right:10%;float: right;">

                    <mat-icon title="Bookmarked by {{item.userEmail}}" matBadge={{item.userEmail.length}}
                        matBadgeColor="warn">bookmarks</mat-icon>
                </span>
                <div class="button-row">
                    <button mat-raised-button color="primary" class="book" (click)="remBookmark(item)">Remove from
                        Bookmark</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<br>
<br>
<pagination-controls (pageChange)="p = $event"></pagination-controls>